<div id="prompt_area">
  <!-- This will show upload prompt from database. -->
  <% @prompts.each do |prompt| %>
    <%= render prompt %>
  <% end %>
</div>

<%= link_to "Add upload prompt", new_prompt_path, class: "btn btn-primary", remote: true %>

<%= render 'shared/jquery_upload_template' %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('.fileupload').each(function () {
      $(this).fileupload({
        dropZone: $(this)
      }).bind('fileuploadsubmit', function (e, data) {
        var prompt_id = data.form.find('.prompt_id').first();
        var inputs = data.context.find('input:text');
        if (inputs.filter('[required]').filter(function() { return $(this).val() == ""; }).first().focus().length) {
          return false;
        }
        data.formData = $.merge(inputs, prompt_id).serializeArray();
      });
    });
    // Load existing files:
    $('.fileupload').each(function () {
      var prompt_id = $(this).find('.prompt_id').val();
      var form = $(this);
      form.addClass('fileupload-processing');
      $.getJSON(form.data('uploads-url'), function (files) {
        var fu = form.data('blueimpFileupload'),
          template;
        template = fu._renderDownload(files)
          .appendTo(form.find('.files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        form.removeClass('fileupload-processing');
      });
    });
  });
</script>
