<div id="uploads_area">
  <!-- This will show upload prompt based on existing unique reffid in database. -->
  <% @uploads.each do |upload| %>
    <%= render partial: 'form', locals: { upload: Upload.new( reffid: upload.reffid ) } %>
  <% end %>
  <!-- show the blank prompt based on the number of existing uploads data. If there are no data, it will show 2 upload prompt. If there are 1 data, it will show 1 upload prompt. If data >= 2, then it will show no blank prompt -->
  <% 1.downto(@uploads.length) do %>
    <%= render partial: 'form', locals: { upload: Upload.new( reffid: SecureRandom.uuid ) } %>
  <% end %>
</div>

<%= link_to "Add upload prompt", new_upload_path, class: "btn btn-primary", remote: true %>

<%= render 'template' %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('.fileupload').each(function () {
      $(this).fileupload({
        dropZone: $(this)
      });
    });
    // Load existing files:
    $('.fileupload').each(function () {
      var reffid = $(this).find('.reffid').val();
      var form = $(this);
      $.getJSON(form.prop('action'), {'reffid': reffid}, function (files) {
        var fu = form.data('blueimpFileupload'),
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        // console.log(files);
        template = fu._renderDownload(files)
          .appendTo(form.find('.files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });
    });
  });
</script>
