<div id="uploads_area">
  <%= render partial: 'form', locals: { upload: Upload.new( reffid: SecureRandom.uuid ) } %>
  <%= render partial: 'form', locals: { upload: Upload.new( reffid: SecureRandom.uuid ) } %>
</div>

<%= link_to "Add upload prompt", new_upload_path, class: "btn btn-primary", remote: true %>

<%= render 'template' %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('.fileupload').each(function () {
      $(this).fileupload({
        dropZone: $(this)
      });
    });
    // Load existing files:
    /*
    $.getJSON($('#fileupload').prop('action'), function (files) {
      var fu = $('#fileupload').data('blueimpFileupload'),
        template;
      fu._adjustMaxNumberOfFiles(-files.length);
      // console.log(files);
      template = fu._renderDownload(files)
        .appendTo($('#fileupload .files'));
      // Force reflow:
      fu._reflow = fu._transition && template.length &&
        template[0].offsetWidth;
      template.addClass('in');
      $('#loading').remove();
    });//*/
  });
</script>
